body {
  background-color: #fffbf7;
}
h1 {
  color: #46484c;
  text-align: center;
}
button {
  background-color: #025157;
  color: #fff;
}
p {
  color: #8b8b8bcc;
  font-family: verdana;
  font-size: 20px;
}
.logo2 {
  display: flex;
  justify-content: center;
}
.logo2 img {
  width: 60%;
}
.header {
  margin: 40px 20px 0;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}
.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}
li {
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
  color: #025157;
}
.logo > img {
  width: 10%;
}
.navBar {
  width: 70%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}
.actions {
  width: 15%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}
.actions > * {
  padding-left: 10px;
  padding-right: 10px;
}
.actions a {
  color: #67b54b;
}
.actions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}
.main {
  margin-top: 140px;
  text-align: center;
}
