body{
    background-color: #fffbf7;
}
h1{
    color: #46484c;
    text-align: center;
}
button{
    background-color: #025157;
    color: #fff;
}
p{
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}